.photo-grid__list{
    display: grid;
    grid-template-columns: repeat(4, minmax(max-content,min-content));
    grid-template-rows: auto;
    gap: 16px;
    margin: auto;
    margin-top: 92px;
    padding: 0;
    width: 100%;
    width: calc(100% - 2*48px);
    list-style: none;
    }
    @media screen and (max-width: 1279px) {
        .photo-grid__list{
        max-width: 928px;
        width: 100%;
        grid-template-columns: repeat(3, minmax(max-content,min-content));
        grid-template-rows: auto;
        }
    }
        @media screen and (max-width: 1023px) {
        .photo-grid__list{
        width: 100%;
        width: calc(100% - 2*24px);
        margin-top: 88px;
        grid-template-columns: repeat(2, minmax(max-content,min-content));
        grid-template-rows: auto;
        }
        }
        @media screen and (max-width: 767px) {
        .photo-grid__list{
        margin-top: 64px;
        width: calc(100% - 2*16px);
        grid-template-columns: repeat(1,auto);
        padding: 0;
        }
        }
