.cover__subtitle{
max-width:360px;
width: 100%;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
padding: 0;
z-index: 1;
position: absolute;
margin-left: 412px;
margin-right: 412px;
margin-top: 429px;
}
@media screen and (max-width: 1279px) {
    .cover__subtitle{
    margin-right:332px;
    margin-left:332px;
    margin-top: 379px;
    }
    }
@media screen and (max-width: 1023px) {
        .cover__subtitle{
        margin-right:204px;
        margin-left:204px;
        margin-top:299px;
        }
        }
@media screen and (max-width: 767px) {
    .cover__subtitle{
    width: 100%;
    max-width: 288px;
    line-height: 16px;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 119px;
    }
    }
  