.header{
    margin-top:28px;
    display: flex;
    max-height: 52px;
    align-items: center;
    justify-content: space-between;
    padding-right: 48px;
    padding-left: 48px;
}
    @media screen and (max-width: 1023px){
    .header{
        width: calc(100% - 2*24px);
        margin-top: 28px;
    }
    }
    @media screen and (max-width: 767px){
    .header{
        margin-top: 16px;
        padding-right: 8px;
        padding-left: 8px;
    }
    }