.intro{
padding: 0;
margin: 0 auto;
width: 100%;
}
@media screen and (max-width: 1279px) {
    .intro {
   max-width: 690px;
    }
    }
@media screen and (max-width: 1023px) {
    .intro {
    width: 100%;
    }
    }
   
