.lead__subtitle{
    max-width: 640px;
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    padding: 0;
    padding-top: 32px;
    margin-left: 172px;
    margin-right: 172px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    text-rendering: optimizeLegibility
}