.cover__background{
    background-image:url(../../../images/sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    object-fit: cover;
    min-height:740px;
    width:100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.cover__background::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2F2A2C;
  opacity: 0.3;
  z-index: 1;
  transition: opacity linear .5s;
}
.cover__background:hover::before{
  opacity: 0.8;
} 
@media screen and (max-width: 1279px) {
  .cover__background{
  min-height: 640px;
  }
  }
@media screen and (max-width: 1023px) {
  .cover__background{
  min-height: 480px;
  }
  }
@media screen and (max-width: 767px) {
  .cover__background{
  min-height:200px;
  }
  }